.person {
  position: relative;
  border: 10px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  min-height: 60px;

  transition: 0.1s all;

  &:hover {
    border: 20px solid red;
  }
}

.male {
  background: #61dafb;
}

.female {
  background: hotpink;
}
